nav.nav
    ul(role="menu")
        li(role="menuitem")
            a(href="#services") Item 1
        li(role="menuitem")
            a(href="#price") Item 2
        li(role="menuitem")
            a(href="#reviews") Item 3
        li(role="menuitem")
            a(href="#photo") Item 4
