extends ./../layouts/main

block variables
    - let pageTitle = 'Название проекта';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/sections/footer/footer.pug