//- .modal.modal--call
//-     .close
//-     h3 Оставьте заявку, и мы перезвоним вам в ближайшее время
//-     form(id="form-modal" action="" method="post")
//-         .inputs 
//-             input(type="text" class="form-modal__name _req" name="form-modal__name" placeholder="Как вас зовут?")
//-             input(type="text" class="form-modal__phone _req" name="form-modal__phone" placeholder="Ваш номер телефона")
//-             button(type="submit" class="btn btn--form-modal__submit") Заказать обратный звонок