// Переменные
@import "./../scss/global/variables";

// Миксины
@import "./../scss/global/mixins";

// Сброс дефолтных стилей браузера (дополнительный)
@import "./../scss/global/global";

// Основные стили
@import "./../scss/global/base";

// Размеры шрифтов повторяющихся элементов (h1, заголовки секций и т.д.)
@import "./../scss/global/typography";

// Общие стили для кнопок
@import "./../scss/global/btns";

// Общие стили для инпутов, чекбоксов и т.д.
@import "./../scss/global/inputs";

// Общие стили для секций (паддинги и т.д.)
@import "./../scss/global/sections";

// Плагины
// @import "./../scss/libs/swiper-bundle.min"; // Слайдер

// Хедер
@import "./../components/sections/header/header";

// Футер
@import "./../components/sections/footer/footer";

// БЭМ-блоки
// @import "./../components/bem-blocks/accordion/accordion"; // Аккордион
// @import "./../components/bem-blocks/burger/burger"; // Бургер
// @import "./../components/bem-blocks/logo/logo"; // Логотип
// @import "./../components/bem-blocks/nav/nav"; // Меню
// @import "./../components/bem-blocks/modal/modal"; // Модалки

// Секции